---
export interface Props {
  title?: string;
  body?:string
}
const { title,body} = Astro.props as Props;
---

<div class="card" >
	<h2>
		{title}
	</h2>
	<p>
		{body}
	</p>
</div>

<style>
  .card {
    background:#ffcf67;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .card h2{
	font-size:30px;
  color:#000;
  }
  .card p{
	font-weight:bold;
  color:#000;
  }
</style>