<footer class="footer">
  <div class="container">
      <p>
        This website is created by Ritesh Naik.
        Feel free to contact me @ 
        <a href="https://linkedin.com/in/riteshnaik55" target="_blank">LinkedIn</a>
        <a href="https://github.com/riteshnaik55" target="_blank">Github</a>
      </p>
  </div>
</footer>

<style>
  .footer {
    background: #f85d8e;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .footer p{
    font-weight:bold;
    font-size:20px;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer a {
    color: #0c1592;
  }
  .footer a:hover {
    text-decoration: underline;
  }
</style>